@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@200;400&display=swap");
/* texto aninhado */
.conteiner {
  display: inline-flex;
}
.conteiner .estatico {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}
.conteiner .dinamico {
  margin-left: 15px;
  line-height: 90px;
  text-transform: uppercase;
  height: 90px;
  overflow: hidden;
}
.dinamico li {
  color: #00a3ff;
  font-size: 60px;
  list-style: none;
  font-weight: 500;
  left: 0;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dinamico li span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-left: 2px solid #fff;
  animation: typing 1.9s steps(15) infinite;
  background: #000000;
}
.dinamico li span {
  position: relative;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
/* ################################## */

/* header */
.topo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}
.topo h1 {
  line-height: 30px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.navegacao > ul {
  display: flex;
  text-transform: uppercase;
  line-height: 30px;
}
.navegacao ul li a {
  padding-right: 40px;
  color: #fff;
}
.navegacao :hover {
  color: #00a3ff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
i .fa-solid {
  transition: 0.7s;
  font-size: 15px;
}
/* inicio do main */
body {
  height: 100vh;
  background-color: #000000;
}
main {
  display: flex;
  justify-content: center;
}
.principal {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 200px;
}
.principal figure > img {
  border-radius: 100%;
  height: 300px;
  margin-right: 50px;
}
.ola {
  text-transform: uppercase;
  font-size: 20px;
}
.perfil-01 {
  word-spacing: 2.5px;
  letter-spacing: 1.5px;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
.perfil-02 {
  word-spacing: 2.5px;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: 12px;
}
.rede-social,
.fa-brands {
  /* icones das redes sociais */
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
  margin-top: 10px;
  text-align: start;
  transition: 1s;
}
.rede-social :hover {
  color: #00a3ff;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8;
  -ms-transition: 0.8s;
  transition: 0.8s;
}
/* botões */
.botao-cinza {
  background-color: #808080;
  height: 60px;
  width: 250px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  margin-top: 25px;
  flex-wrap: wrap;
  word-spacing: 5px;
  letter-spacing: 0.5px;
}
.botao-azul {
  background-color: #00a3ff;
  height: 60px;
  width: 220px;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  word-spacing: 5px;
  letter-spacing: 0.5px;
}
.fa-sharp {
  color: #fff;
}
.fa-solid {
  color: #fff;
}
